body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
    background-size: cover;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    font-weight: 1000;
    padding: 7px;
    width: 100%;
    color: aliceblue;
    font-size: 32px;
}

.selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;
    font-family: 'Montserrat';
}

#selection-header {
    color: #f1f1f1;
    font-weight: 1000;
    font-size: 24px;
    margin-bottom: 10px;
}

.btns,
#restart-btn {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    width: 125px;
    height: 37px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 1px rgb(163, 200, 255);
    border: 0px;
}

button:hover,
.gameBox:hover{
  transform: scale(1.05);
}

.selected-btn {
    background-color: rgb(163, 200, 255);
}

.game-board {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(3, minmax(75px, 100px));
    grid-template-columns: repeat(3, minmax(75px, 100px));
    gap: 12px;
}

.gameBox {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px outset #e7e4e4;
    background-color: #ffffff;
    box-shadow: 0 0 12px 2px rgb(163, 200, 255);
    cursor: pointer;
}

.markers {
    max-width: 69%;
    max-height: 69%;
    transform: scale(0);
    transition: all .27s ease-in-out;
}

.markers.active {
    transform: scale(1);
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-body {
    font-weight: 900;   
    font-size: 32px;
    max-height: 80%;
    color: white;
    margin: 15px;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 400px;
    height: 200px;
    max-width: 80%;
    border-radius: 10px;
    background-color: #000000;
    box-shadow: 0 0 37px 3px rgb(163, 200, 255);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    margin-right: 15px;
    margin-top: 5px;
    width: 45px;
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.footer {
    font-weight: 500;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;

}