body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    font-weight: 1000;
    padding: 7px;
    width: 100%;
    color: aliceblue;
    font-size: 32px;
}

.selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;
    font-family: 'Montserrat';
}

#selection-header {
    color: #f1f1f1;
    font-weight: 1000;
    font-size: 24px;
}

.btns {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    width: 125px;
    height: 37px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}

.game-board {
    /*margin-top: 200px;*/
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(3, minmax(75px, 100px));
    grid-template-columns: repeat(3, minmax(75px, 100px));
    gap: 12px;
}

.gameBox {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.markers {
    max-width: 69%;
    max-height: 69%;
}
